@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@import "elixir-syntax.css";
@import "shell-syntax.css";

/* This file is for your main application CSS */
@font-face {
  font-family: 'jetbrains';
  src: url('/fonts/JetBrainsMono-Regular.woff2');
}

a {
  @apply text-blue-300;
}

header {
  @apply flex flex-col;
  &>* {
    @apply flex justify-center;
  }
}

h2 {
  @apply text-2xl font-bold border-b border-gray-600 pb-4 pt-8;
}

ul {
  @apply list-disc list-outside pl-8 p-4 leading-6 inline-block ;
}

li {
  @apply p-1;
}

section.content p {
  @apply my-4;
}

#activity-grid {
  scrollbar-width: none;
}

/* Chrome, Edge, and Safari */
#activity-grid::-webkit-scrollbar {
  /* width: 15px; */
  display: none;
}

::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #111827;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1e293c;
  border-radius: 14px;
  border: 3px solid #111827;
}
